<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Example Idea</title>
    <script src="https://kit.fontawesome.com/23fdf0a18e.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
</head>
<body> <br> <br> <br>
    <div class="container">
       <h2>Idea Title</h2>
        <p>An E-commerce platform to sell second-hand books.</p>
        <br> <br>
       <h2>Idea Description</h2>
        <p>I offer a curated selection of second-hand books, carefully chosen for their quality and value. From literary classics to niche interests, our collection has something for every reader. We use IndiaPost to ensure secure and efficient book deliveries. Your books will be carefully packaged and shipped to your doorstep. We understand that ordering multiple books can increase the shipping cost. That's why we offer weight-based shipping, so the more books you order, the more you save on delivery charges.</p>
        <br> <br>
       <h2>Instant Investment</h2>
        <p><i class="fa-solid fa-indian-rupee-sign " ></i>   30,000 </p>     
       <br> <br>
       <h2>Total Investment</h2>
       <p><i class="fa-solid fa-indian-rupee-sign " ></i>   50,000</p>        <br> <br>


    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
  </body>
</html>