<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/23fdf0a18e.js" crossorigin="anonymous"></script>
</head>
<body> <br> <br> <br>
    <div class="container">
    <div class="row">
      
        <div >
          <div data-bs-spy="scroll" data-bs-target="#navbar-example3" data-bs-smooth-scroll="true" class="scrollspy-example-2" tabindex="0">
            <div id="item-1">
              <h2>Terms & Conditions</h2>
              <p>1. By Signing up it is considered as user accepting the terms and conditions.</p>

                <p> 2. Any data provided by the user including ideas is considered as their own data up to the nowledge of the company.</p>
                
                    <p>3. User is responsible for uploading any tampered or theft data to the website and the host is not responsible for the consequences. The company considers it a criminal offence and legal action can be taken against the user.</p>
                
                        <p>4. Investors while viewing an idea posted by another user is not entitled to ownership of the idea in the knowledge of the host. Investor cannot use this idea or distribute it. This is considered a crminal offence.</p>
                
                            <p>5. The inverstors must make the payment to the host account in order to unlock the basic details of the user that posted the Idea. The host also provides agents that participate in the icebreaking and deal making between both parties.</p>
                
                                <p>6. If the deal between both the parties is made the amount transferred by the investor in the host account shall be transferred into the account of the user that posted the idea after the approval from both parties. (Conveniece fee will be charged from both parties.)</p>
                
                                    <p>7. If the deal off or terminated then the money paid to the host by the investor as to unlock the details of the user that post the particular idea will be refunded to the investor excluding the convenience fee from the investor but not from the user that posted the idea.</p>
                
                                        <p>8. The idea will be posted in a two layer interface where the first layer can be viewed for free by the investors (first layer of the idea might contain the industry of the business or the stem idea or keywords regarding the business). The second layer of idea must be unlocked by a static amount of tokens by the investor which in other words gives them the semi or full access of the idea. (except for the key idea and the details of the user that posted the idea). THe amount of tokens required to unlock each idea can be varied by the host. The first few tokens are provided for free but further the can be purchased from the host.
                
                                            <p>9. Once tokens are bought by the user, they are non refundable.
                
                                                <p> 10. Any other queries of the user can be posted on contact page on the platform and our agents will contact and guide the user.
                </p>
            </div><br>
            <div id="item-2">
              <h2>Disclosures</h2>
              <p>1. Users that post ideas are solely responsible for any misinformation, misguideance or criminal offences mentioned in the respective idea.</p>

                <p> 2. Users need to await for the approval of the host for the idea to be displayed in the IDEAS TAB of the platform. The host can decide whether or not to approve an idea to be posted. Any content that might be disturbing or sensitive to the audience must not be posted and in case it is posted the host can decide whether or not to approve the idea to be posted.</p>
                
                    <p> 3. The host cannot use your idea as it belongs to you alone as per the knowledge of the host.</p>
                
                        <p>4. The host can take down the idea any time from the platform. You can get a chance to appeal for a review but the decision after the review will be the final.</p>
                
                            <p>5. Any acts praising terrorism or human trafficking or posting sexually explicit content can ba taken down by the host.</p>
            </div> <br>
            <div id="item-3">
              <h2>Privacy Policy</h2>
              <p>1. All the information collected from the users in the sign up tab is assured to be maintained confidential and shall be used only for professional purposes.</p>

                <p>2. The contact information of the users that post ideas shall be given only to the investors who have shown interest in your idea if and only if the host believes that the investors descripton is fit to do so.</p>
                
                <p>3. THe details of the users posting ideas will be only be given to the investors and not to any external subjects.</p>
                
                <p>4. The idea will be displayed to the invesrtors after unlocking it with tokens but it is the responsibility of the users that post ideas to not give away their details in the idea and also to hold on to the key factor of your idea with yourself.</p>
            </div> <br>
            <div id="item-4">
              <h2>Cancellation and Refund Policy</h2>
             <p> 1.  Cancellation of a deal from going any further can be done by either of the parties (users that post ideas and investors) by selecting the 'NO' option in the deal making panel of the platform.</p>

             <p>2. The input once given whether 'Yes' or 'No' in the deal making panel can't be changed.</p>

                <p>3. Cancellation of a deal can also be done through the agent.</p>

                    <p>4. Deals once cancelled will be cancelled forever.</p>

                        <p>5. Once the deal is cancelled the amount transferred from the investor to the host will be transferred back to the investor, except for the convenience fee.</p>

                            <p>6. Irrespective of the deal going forward or being cancelled the covenience fee charged from the investor is non refundable.</p>

                                <p>7. The refund will be initiated once the ho</p>
            </div>
          </div>
        </div>
      </div></div>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
    </body>
</html>